# SQL with Python

Structured Query Language (SQL) is a language for interacting with data stored in a _relational database_. The focus of this notebook is **querying, creating and manipulating databases** with Python. 

We'll use [SQLAlchemy](https://www.sqlalchemy.org) library in this Notebook. Among many types of databases, SQLite is used throughout this study.

**Outline:**

* Introduction to SQL with Python
   - Importing Modules
   - Connecting to a Database
   - Viewing Tables
* Selecting Data
* Filtering Data
* Ordering Data
* Aggregate Functions (Counting and Summing)
* Grouping and Ordering Data
* Advanced Queries
   - Calculations
   - Joining Data
   - Hierarchical Data
* Creating and Manipulating Databases
   - Creating Databases
   - Inserting Data
   - Updating Data
   - Removing Data
* Feeding ResultProxy into a pandas DataFrame

---

## Introduction to SQL with Python

### Importing Modules

In [34]:
# Import necessary modules and functions
from sqlalchemy import create_engine  # Connecting to database
from sqlalchemy import Table # Reflecting & viewing data
from sqlalchemy import MetaData # Reflecting & viewing data
from sqlalchemy import select # Selecting data
from sqlalchemy import and_ # Filtering data
from sqlalchemy import desc # Ordering data
from sqlalchemy import func # Aggregate functions
from sqlalchemy import case, cast, Float # Calculations

import pandas as pd

### Connecting to a Database

First, we need to connect to our database. An **engine** is an interface to a database. We'll create an engine that connects to a local SQLite file named "census.sqlite".

In [35]:
# Connect to a SQLite Database

# Create an engine that connects to 'census.sqlite'. 
engine = create_engine("sqlite:///census.sqlite")

# Connect
connection = engine.connect()

In [36]:
# Connect to a MySQL Database

#
# CREDENTIALS
#

# Create an engine that connects to the census database
# engine = create_engine('"' + 'mysql+pymysql://' + 
#                        username + ':' + password + '@' +
#                        host + ':' + port +
#                        '/' + database + '"')

# engine = create_engine('mysql://scott:tiger@localhost/test')

In [37]:
# Connect to a PostgreSQL Database

#
# CREDENTIALS
#

# Create an engine that connects to the census database
# engine = create_engine('"' + 'postgresql+psycopg2://' + 
#                        username + ':' + password + '@' +
#                        host + ':' + port +
#                        '/' + database + '"')

### Viewing Tables

Table names can be viewed by using the `.table_names()` method on the _engine_.

In [38]:
# Table names
engine.table_names()

['census', 'state_fact']

Reflecting a table allows us to work with it in Python. After reading the databese we'll need to build the metadata.

> MetaData is a container object that keeps together many different features of a database (or multiple databases) being described. [Source](https://docs.sqlalchemy.org/en/latest/core/metadata.html#sqlalchemy.schema.MetaData)

In [39]:
# from sqlalchemy import MetaData
metadata = MetaData()

We'll now reflect the _census_ table by using the Table object. `metadata` is one of the arguments. `autoload=True` autoloads the columns with engine.

In [40]:
# Reflect census table from the engine
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Print census table metadata
print(repr(census))

Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

In [41]:
# Column names
census.columns.keys()

['state', 'sex', 'age', 'pop2000', 'pop2008']

In [42]:
# Table metadata
repr(metadata.tables['census'])

"Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)"

## Selecting Data

We can use raw SQL commands with applying `.execute()` to the connection.

In [43]:
# Build select statement for census table to select all records
stmt = 'SELECT * FROM census'

# Execute the statement (Result Proxy)
results_proxy = connection.execute(stmt)

# Fetch the results (Result Set)
results = results_proxy.fetchall()

# Print the first five results
results[:5]

[('Illinois', 'M', 0, 89600, 95012),
 ('Illinois', 'M', 1, 88445, 91829),
 ('Illinois', 'M', 2, 88729, 89547),
 ('Illinois', 'M', 3, 88868, 90037),
 ('Illinois', 'M', 4, 91947, 91111)]

SQLAlchemy helps us efficiently query the data in a Pythonic way. For instance, instead of writing the raw query, which may be different for different types of databases, we'll use the SQLAlchemy's `select()` function to get all the elements from the census table.

In [44]:
# from sqlalchemy import select

# Select query: Build select statement for census table
stmt = select([census])

# Print the statement
print(stmt)

SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census

The output above shows us that `select([census])` gives us the same result with `SELECT * FROM census` query; in an different manner though.

In [45]:
# Execute the statement and print the first five results
connection.execute(stmt).fetchall()[:5]

[('Illinois', 'M', 0, 89600, 95012),
 ('Illinois', 'M', 1, 88445, 91829),
 ('Illinois', 'M', 2, 88729, 89547),
 ('Illinois', 'M', 3, 88868, 90037),
 ('Illinois', 'M', 4, 91947, 91111)]

In [46]:
# Execute the statement and print the first item in the first row
connection.execute(stmt).fetchall()[0][0]

'Illinois'

## Filtering Data

### `where` with Comparison Operators

`where()` is used to filter the results. We can use comparison operators (`==`, `<=`, `<`, `!=`, etc.) along with `where`.

In [49]:
# Select query
stmt = select([census])

# Where clause to filter the results to only those for New York
stmt = stmt.where(census.columns.state == 'New York')

# Execute the query
results = connection.execute(stmt).fetchall()

# Print column names once more
print(census.columns.keys())

results[:5]

['state', 'sex', 'age', 'pop2000', 'pop2008']

[('New York', 'M', 0, 126237, 128088),
 ('New York', 'M', 1, 124008, 125649),
 ('New York', 'M', 2, 124725, 121615),
 ('New York', 'M', 3, 126697, 120580),
 ('New York', 'M', 4, 131357, 122482)]

It is possible to loop over the results and print only the specifies columns.

In [58]:
# Loop over the results and print the age, sex, and pop2000
for result in results[:5]:
    print(result.age, result.sex, result.pop2000)

0 M 126237
1 M 124008
2 M 124725
3 M 126697
4 M 131357

### `where` with Column Element and Expressions

Methods such as `.all`, `not_()`, `in_()` are used for further filtering. Additionally, conjunctions such as `and_()` and `or_()` can be used to have multiple criteria in a `where` clause. More on [Column Elements and Expressions.](https://docs.sqlalchemy.org/en/latest/core/sqlelement.html#module-sqlalchemy.sql.expression)

In [16]:
# Create a list of states
states = ['New York', 'California']

# Select query
stmt = select([census])

# Append a where clause to match all the states in_ the list 'states'
stmt = stmt.where(census.columns.state.in_(states))

# Loop over the ResultProxy and print the state and its population in 2000
i = 0
for result in connection.execute(stmt):
    print(result.state, result.pop2000)
    if i == 4: # Print only first five results
        break
    i += 1

New York 126237
New York 124008
New York 124725
New York 126697
New York 131357

In [17]:
# from sqlalchemy import and_

# Select query
stmt = select([census])

# Append a where clause
stmt = stmt.where(and_(census.columns.state == 'California', census.columns.age == 34))

# Execute the query
result = connection.execute(stmt).first()

# Print results
result

('California', 'M', 34, 269607, 257167)

Note that the `and_()`, `or_()` conjunctions are also available using the Python `&`, `|` operators respectively.

In [18]:
# Select query
stmt = select([census])

# Append a where clause
stmt = stmt.where((census.columns.state == 'California') &
                  (census.columns.age == 34))

# Execute the query
result = connection.execute(stmt).first()

# Print results
result

('California', 'M', 34, 269607, 257167)

## Ordering Data

Ordering can be done with `.order_by()` method. The default ordering is ascending. We need to use another function, `desc()`, in order to sort in a descending order.

In [59]:
"""
Ascending Order
"""
# SELECT state FROM census
stmt = select([census.columns.state])

# Order stmt by the state column
stmt = stmt.order_by(census.columns.state)

# Execute the query
results = connection.execute(stmt).fetchall()

# Print the first 5 results
results[:5]

[('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',)]

In [20]:
"""
Descending Order
"""

# from sqlalchemy import desc

# SELECT state FROM census
stmt = select([census.columns.state])

# Order stmt by the state column in DESCENDING orderb
stmt = stmt.order_by(desc(census.columns.state))

# Execute the query
results = connection.execute(stmt).fetchall()

# Print the first 5 results
print(results[:5])

[('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',)]

In [21]:
"""
Ordering by Multiple Columns
"""

# SELECT state, age FROM census
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement
results = connection.execute(stmt).fetchall()

# Print the first 5 results
print(results[:5])

[('Alabama', 85), ('Alabama', 85), ('Alabama', 84), ('Alabama', 84), ('Alabama', 83)]

## Aggregate Functions

We can perform calculations in the data. The functions to make calculations include `.count()`, `.max()`, `.min()`, and `.sum()`.

### Counting

In [22]:
# from sqlalchemy import func

# Count the distinct states values
stmt = select([func.count(census.columns.state.distinct())])

# Execute the query and store the scalar result
distinct_state_count = connection.execute(stmt).scalar()

# Print the distinct_state_count
distinct_state_count

51

### Summing

In [60]:
# Calculate the sum of the population values
stmt = select([func.sum(census.columns.pop2008)])

# Execute the query 
result = connection.execute(stmt).scalar()

# Print the results
result

302876613

## Grouping Data

In [24]:
# Select the state and count of ages by state
stmt = select([census.columns.state, func.count(census.columns.age)])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement
results = connection.execute(stmt).fetchall()

# Print keys/column names and the results
results[0].keys(), results[:5]

(['state', 'count_1'],
 [('Alabama', 172),
  ('Alaska', 172),
  ('Arizona', 172),
  ('Arkansas', 172),
  ('California', 172)])

In [25]:
'''
Labelled key values with same result
'''
# Select the state and count of ages by state
stmt = select([census.columns.state, func.count(census.columns.age).label('population')])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement
results = connection.execute(stmt).fetchall()

# Print keys/column names and the results
results[0].keys(), results[:5]

(['state', 'population'],
 [('Alabama', 172),
  ('Alaska', 172),
  ('Arizona', 172),
  ('Arkansas', 172),
  ('California', 172)])

## Advanced Queries

### Calculations (Math Operations between Columns)

In [62]:
# Select state names and population difference from 2008 to 2000
stmt = select([census.columns.state, (census.columns.pop2008 - census.columns.pop2000).label('pop_change')])

# Group by state
stmt = stmt.group_by(census.columns.state)

# Order by pop_change descendingly
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results
stmt = stmt.limit(5)

# Execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357

We can use following expressions.
- `case()` acts analogously to 'if/else'. We pass a list of conditions. `else_` is used for the case where the condition not met.
- `cast()` converts an expression to a desired type.

In [27]:
# from sqlalchemy import case, cast, Float

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of females in 2000
stmt = select([female_pop2000 / total_pop2000 * 100])

# Execute the query and store the scalar result
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print('Percentage of Females:', percent_female)

Percentage of Females: 51.09467432293413

### Joining Data

When we establish a relationship between tables, we can use one `select` statement to join tables. When we do not have a pre-defined relationship, we'll need to use `select_from()` and `join()` functions.

There are two tables in the file `census.sqlite`. We need to reflect the second table, _state_fact_, in order to join two tables.

In [65]:
# Table names
engine.table_names()

['census', 'state_fact']

In [67]:
# Reflect state_fact table from the engine
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)

# Print state_fact table's column names
state_fact.columns.keys()

['id',
 'name',
 'abbreviation',
 'country',
 'type',
 'sort',
 'status',
 'occupied',
 'notes',
 'fips_state',
 'assoc_press',
 'standard_federal_region',
 'census_region',
 'census_region_name',
 'census_division',
 'census_division_name',
 'circuit_court']

In [69]:
# Build a statement to select the 'census' and 'state_fact' tables
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact tables where the census 'state' column and state_fact 'name' column match
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

state Illinois
sex M
age 0
pop2000 89600
pop2008 95012
id 13
name Illinois
abbreviation IL
country USA
type state
sort 10
status current
occupied occupied
notes
fips_state 17
assoc_press Ill.
standard_federal_region V
census_region 2
census_region_name Midwest
census_division 3
census_division_name East North Central
circuit_court 7

In [75]:
# Select the state, sum of 2008 population and census_division_name
stmt = select([census.columns.state, 
               func.sum(census.columns.pop2008),
               state_fact.columns.census_division_name])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt = stmt.select_from(census.join(state_fact, census.columns.state == state_fact.columns.name))

# Append a group by for the state_fact 'name' column
stmt = stmt.group_by(state_fact.columns.name)

# Execute the statement
results = connection.execute(stmt).fetchall()

# Print the first five records
results[:5]

[('Alabama', 4649367, 'East South Central'),
 ('Alaska', 664546, 'Pacific'),
 ('Arizona', 6480767, 'Mountain'),
 ('Arkansas', 2848432, 'West South Central'),
 ('California', 36609002, 'Pacific')]

### Hierarchical Data

When we have a table containing hierarchical data, we can join that table to itself. `.alias()` is used to create a copy of the table.

## Creating and Manipulating Databases
### Creating Databases
### Inserting Data
### Updating Data
### Removing Data

-----

## Feeding ResultProxy into pandas DataFrame

We can feed ResultProxy into pandas DataFrame.

In [28]:
# import pandas as pd

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Set column names
df.columns = results[0].keys()

# Print the head of the Dataframe
df.head()

        state  pop_change
0       Texas       40137
1  California       35406
2     Florida       21954
3     Arizona       14377
4     Georgia       13357

In [44]:
connection.close()